data/flows.json
[{"id":"050002752c34cdf0","type":"tab","label":"Debug 1","disabled":false,"info":"","env":[]},{"id":"731546c3ff1ebc34","type":"tab","label":"Display Subscribed Nodes","disabled":false,"info":"","env":[]},{"id":"584e7fb1ca4c2b5d","type":"mqtt-broker","name":"Local Mosquitto Server","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2c9b2c8a1ffee915","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d8b34c9bbf3b97c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4a5f4d5250bb432c","type":"ui_group","name":"Default","tab":"2c9b2c8a1ffee915","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"fc577c2e33647d4b","type":"mqtt in","z":"731546c3ff1ebc34","name":"Subscribe to all Topics","topic":"#","qos":"2","datatype":"auto-detect","broker":"584e7fb1ca4c2b5d","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":60,"wires":[["61036e7e59eabd7b"]]},{"id":"61036e7e59eabd7b","type":"function","z":"731546c3ff1ebc34","name":"Save unique clients","func":"// Function node code for table display\nvar clients = context.get('clients') || {};\nvar clientId = msg.topic.split('/')[0];\nif (!clientId) {\n    return null;\n}\n\n// Only pass the message if the client is not yet registered\nif (!clients[clientId]) {\n    clients[clientId] = true;\n    context.set('clients', clients);\n    msg.payload = clientId;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar clients = context.get('clients');\nif (clients) {\n    console.log('Resetting saved Clients');\n    context.set('clients', {});\n}","finalize":"","libs":[],"x":450,"y":60,"wires":[["5b6d67df88cc960a"]]},{"id":"133313c8466a7c13","type":"comment","z":"731546c3ff1ebc34","name":"","info":"This flow is meant to add new Nodes to the pallet for each unique client that are connected to the mqtt network.\n","x":120,"y":120,"wires":[]},{"id":"5b6d67df88cc960a","type":"client-manager","z":"731546c3ff1ebc34","name":"MQTT Creator","category":"ToCaro","nodeId":"tocaro","nodeColor":"#e6e0f8","nodeIcon":"bridge.png","x":700,"y":60,"wires":[[]]}]